/*
 * Style tweaks
 * --------------------------------------------------
 */
a {
  color: inherit;
  text-decoration: none;
}

.form-container {
  padding-top: 3em;
  padding-bottom: 2em;
}
/*
 * header
 * --------------------------------------------------
 */

.full-header {
  width: 100%;
}
.navbar {
  background: #FFFFFF1A 0% 0% no-repeat padding-box;
  height: 10vh;
  width: 100%;
  padding: 8px;
  z-index: 10;
}
/*
 * body
 * --------------------------------------------------
 */
 body {
  font-family: "游ゴシック体", "メイリオ", sans-serif;
  background-position: 0%;
  background-color: #F3F3F3;
  background-clip: padding-box;
  background-repeat: no-repeat;
 }

 h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}
/*
 * navbar
 * --------------------------------------------------
 */
 .navbar-dark .navbar-nav .nav-link { /* Overwrite */
  color: #3E3E3E;
}
.navbar-nav li {
  padding-left: 10px;
}

/*
 * Logo
 * --------------------------------------------------
 */
 .navbar-brand {
  display: none;
}

@media (max-width: 768px) {
  .hiraku-open-btn {
    border: 0px;
  }
  .navbar {
    background-color: #FFFFFF;
    opacity: 1;
  }
  .navbar-brand {
    display: block;
  }
}

/*
 * Hiraku2(ドロワーメニュー)Off Canvas
 * --------------------------------------------------
 */

 .hiraku-open-btn {
  display: none;
}

@media screen and (max-width: 768px) {
  .hiraku-open-btn {
    display: inline-block;
    position: static;
    background: none;
    margin-right: 0;
    width:auto;
  }
}

.drawer-menu {
  text-align: center;
  position: relative;
  top: 10%;
}
.drawer-menu li {
  padding-bottom: 1em;
}
/*
 * jumbotron
 * --------------------------------------------------
 */
.jumbotron {
  background-image: url("../images/mv.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0rem;
}

.jumbotron-extend {
  position: relative;
  height: 100vh;
  min-height: 300px;
}
@media (max-width: 768px) {
}
/*
 * ファーストビュー内 メッセージ
 * --------------------------------------------------
 */
.slide-content {
  position: absolute;
  top: 50%;
  right: 5%;
  width: 50%;
  text-align: left;
}

.slide-content h1 {
  font-size: 2.4em;
}

@media (max-width: 768px) {
  .slide-content {
    display: block;
    margin: 0 auto;
    padding: 0 20px;
    top: 30%;
    right: 0%;
    width: 100%;
    text-align: left;
  }
  .slide-content h1 {
    font-size: 1.4em;
    margin-bottom: 2em;
  }
  .slide-content p {
    font-size: 1.0em;
    margin-bottom: 2em;
  }

}


/*
 * Button
 * --------------------------------------------------
 */

.btn-warning { /* Overwrite */
  color: #ffffff; 
  background-color: #FFAA3B;
  border-color: #FFAA3B;
}
@media (max-width: 768px) {
  .btn-warning{
    display: block;
    margin: 0 auto;
  }
}

.btn-flat-border {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  padding: 10px;
}
@media (max-width: 768px) {
  .btn-flat-border  {
    width: 100%;
  }
}

.btn-border-only {
  border: 1px solid #ffffff;
  padding: 10px;
  background: inherit;
  color: #FFFFFF;
  margin-top: 2em;
  margin-bottom: 2em;
}
.btn-full {
  width: 100%;
}
@media (min-width: 768px) {
  .btn-full {
    width: auto;
  }
}
/*
 *
 * hiraku
 *
 */
 .hiraku-open-btn-line {
  background-color: black; 
 }
 .hiraku-open-btn-line:before, .hiraku-open-btn-line:after {
  background-color: black;
 }

 /*
 * スムーススクロール
 * --------------------------------------------------
 */
 .floating {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
  z-index: 200;
  height: 50px;
  width: 50px;
  background-color: #2E2EFE;
  border-radius: 50%;
  opacity: 0.6;
}

.floating a {
  display: block;
  color: #fff;
  padding: 8px;
  text-decoration: none;
  
}
.floating i {
  position: relative;
  top: 50%;
  left: 25%;
}
.floating a:hover {
  opacity: 1;
}

 /*
 * News
 * --------------------------------------------------
 */
 #news {
   
}
.news-container {
  margin-top: 10%;
  margin-bottom: 10%;
}

@media (max-width: 768px) {
  .news-container {
    margin-top: -10%;
  }
}

.news-bg {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 12px #3E3E3E33;
  opacity: 1;
}

.container-main-content {
  padding: 10%;
}

.news-inner {
  padding: 20px 0px;
  margin-bottom: 10%;
}

.over-line {
  border-top: solid 1px #CECDCD;
}
.under-line {
  border-bottom: solid 1px #CECDCD;
}

.news-date {
  padding-right: 10px;
}

.borber-box {
  border-radius: 50px;
  border: 1px solid #3B69FF;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  color: #3E3E3E;
  padding: 2px 20px;
  display: inline-block;
}
 /*
 * service
 * --------------------------------------------------
 */
#service {
}
.service-bg {
  background-color: #3E3E3E;
  padding-top: 5%;
  padding-bottom: 15%;
  margin-bottom: -10%;
}

.service-container {
  background-color: #FFFFFF;
}
#service h2 {
   color: #FFFFFF;
}

.fbox img {
  margin-bottom: 5px;
}
.fbox h4 {
  font-size: 1.2em;
}
.fbox p {
  font-size: 0.8em;
  text-align: left;
}

/*
 * results
 * --------------------------------------------------
 */
#results {
  margin-top: 10%;
}

#results h2 {
  color: #FFFFFF;
}

.results-bg {
  background-color: #3E3E3E;
}

.results-container {
}

.fbox-icon img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  color: #FFF;
}

.card {
  border: none;
}

.card-title {
  font-size: 1.1em;
}

.card-text {
  font-size: 0.8em;
}

/*
 * swiper
 *
 */
 /* 全体のスタイル */
.swiper-pagination-bullet {
  opacity: 0.5; /* 半透明（デフォルトでは0.2） */
  margin-right: 10px;
}
/* 現在のスライドのスタイル */
.swiper-pagination-bullet-active {
  opacity: 1; /* 不透明 */
  margin-right: 10px;
}
.swiper-slide img {
  width: 100%;
}

.nobg {
  background: none !important;
}

.noradius {
  border-radius: 0 !important;
}

/*
 * price
 *
 */

 #price {
  margin-top: 10%;
  margin-bottom: 5%;
 }
/*
 * Comments
 *
 */
 #comments {
   position: relative;
   margin-top: 10%;
 }
 .comments-container-bg {
   background-color: #3E3E3E;
   position: absolute;
   width: 100%;
   height: 50vh;
   top: 30%;
   right: 30%;
 }
 .comments-title {
  margin: 10% 5%;
 }
 .member-text {
  font-size: 0.8em;
  opacity: 0.5;
 }
 .comments-inner {
   padding-left: 0;
   padding-right: 0;
 }
 .member-item {
  margin-top: 10%;
  margin-right: 5%;
  margin-bottom: 15%;
  margin-left: 5%;
 }
 .member-img img {
   width: 100px;
   border-radius: 50%;
   background-position: center center;
 }

.comments-text {
  background-color: #FFFFFF;

}

@media (max-width: 768px) {
  .comments-image {
    display: none;
  }

  .comments-container-bg {
    right: 0%;
  }
}
.comments-image img {
  width: 100%;
}
/*
 * FQAs
 *
 */
#fqas {
  padding-top: 20%;
  padding-bottom: 20%;
  background-image: url('../images/fqas-bg.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
.emphasis {
  border-radius: 50%;
  background-color: #3B69FF;
  color: #FFFFFF;
  padding: 0.3em 0.4em;
}
/*
 * アコーディオン Accordion
 * --------------------------------------------------
 */
 .accbox {
  margin: 2em 0;
  padding: 0;
  
}

.accbox-item {
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 3%;
}

/* close / open アイコン右寄せ */
.acc-close-icon,.acc-open-icon {
 float: right;
}
/* ラベル */
.accbox label {
  display: block;
  margin: 1.5px 0;
  padding: 11px 12px;
  cursor: pointer;
  transition: all 0.5s;
}

.acc-close-icon::after {
 font-family: "Font Awesome 5 Free";
 font-weight: 900;/* Solid: 900 / Brands: 400 */
 content: "\f0dd";/*アイコンのユニコード*/
 font-size: 1.3em;
 color: #3B69FF;
}

.acc-open-icon::after {
 font-family: "Font Awesome 5 Free";
 font-weight: 900;/* Solid: 900 / Brands: 400 */
 content: "\f0de";/*アイコンのユニコード*/
 font-size: 1.3em;
 color: #3B69FF;
}

.twitter-icon::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;/* Solid: 900 / Brands: 400 */
  content: "\f099";/*アイコンのユニコード*/
  color: #ffffff;
}

.facebook-icon::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;/* Solid: 900 / Brands: 400 */
  content: "\f082";/*アイコンのユニコード*/
  font-size: 1.3em;
  color: #ffffff;
}



.accbox input {
 display: none;
}

.accbox .accbox-show {
 height: 0;
 padding: 0;
 overflow: hidden;
 opacity: 0;
 transition: 0.8s;
 background-color: #3B69FF33;
 border-radius: 10px;
}
.accbox-show p {
  margin-top: 0;
  margin-bottom: 0rem;
  padding: 2%;
}
.cssacc:checked + .accbox-show {
 height: auto;
 padding: 5px;
 background-color: white;
 opacity: 1;
 background-color: #3B69FF33;
 border-radius: 10px;
 margin-bottom: 1.2em;
}

/*
 * footer
 *
 */
 footer {
  background: linear-gradient(#686c70, #24282b);
  color: white;
  padding: 30px 0px;
}

.footer-brand p{
  font-size: 2.2em;
}

.footer-copy-text {
  font-size: 0.6em;
}

.footer-menu {
  margin-top: 1em;
  margin-bottom: 2em;
  padding: 1em;
}

.footer-menu a {
  padding-right: 2%;
}


.footer-subtitle {
  font-size: 1.4em;
  border-bottom: white solid 2px;
  margin-bottom: 1.2em;
  padding-bottom: 1.2em;
}

.footer-list-inline {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.social-icon .d-flex{
  justify-content: flex-start;
}
@media (max-width: 768px) {
  .social-icon .d-flex{
    justify-content: space-around;
  } 
}
 /*
  * Access
  * 
  */
#access {
  position: relative;
}

.access-container-bg {
  background-color: #3e3e3e;
  color: #FFFFFF;
  width: 60%;
  position: relative;
  right: 20%;
  padding-top: 10%;
  padding-left: 10%;
  padding-bottom: 20%;
}

.access-container {
  position: absolute;
  top: 20%;
  left: 45%;
}

@media screen and (max-width: 768px) {
  .access-container-bg {
    width: 100%;
    position: static;
    padding: 10%;
    right: 0%;
  }
  .access-container {
    position: static;
  }
}

.iframe-wrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 75%;
}
.iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*
 * contact
 *
 */
#contact {
  background-image: url('../images/contact-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 10%;
}

.form-container {
  padding: 5%;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  margin-bottom: 5%;;
}

.border{
  background-color: #fff;
  border: 1px solid #ced4da;
}

.no-border {
  border: none;
  border-bottom: 1px solid #ced4da;
}

.contact-header {
  background-image: url('../images/contact-title-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-clip: padding-box;

  height: 20vh;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;

  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 0;
  padding: 5% 0%;
  color: #FFFFFF;
}
/*
 * 
 *
 */
