
@charset "UTF-8";
/* CSS Document */
html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 62.5%;
  vertical-align: baseline;
  background: transparent;
  scroll-behavior: smooth;
}

body {
  font-family: 'Sawarabi Mincho', 'Kosugi Maru', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  }
@media screen and (max-width: 900px) {
  html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    font-size: 52%;
  }
}

a { color: #333; }
a:-webkit-any-link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

header .wrapper {
  max-width: 1200px;
  margin:0 auto;
  padding:0 40px;
}

header .wrapper .header-subnav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  opacity: 1;
  transition: opacity 600ms 0s ease;
}
@media only screen and (max-width: 1050px) {
  .sp-header-none {
    display: none !important;
  }  
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #fff;
  z-index:100;
  transition: all 600ms 0s ease;
}

header.smaller {
  transform: translateY(-39px);
  box-shadow: 0 4px 16px rgb(0, 0, 0, 0.08);
}
@media only screen and (max-width: 1050px){
  header.smaller .wrapper .area-nav .header-logo {
    transform: scale(1);
  }  
}
header.smaller .wrapper .area-nav .header-logo {
  transform: scale(0.6);
}
header .wrapper .header-subnav .header-ttl-text {
  margin: 0 auto 0 0 ;
  font-size: 1.2rem;
  font-weight: normal;
}
header .wrapper .header-subnav .header-cv-btn a {
  display: inline-block;
  margin: 0 0 0 8px;
  padding: 8px 32px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background-color: #333;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
  transition: box-shadow 300ms 0s ease;
}

header .wrapper .area-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  transition: padding 300ms 0s ease;

}

@media only screen and (max-width: 1050px){
  header .wrapper .area-nav .header-nav.active {
      display: block;
      opacity: 1;
      transition: all 300ms 0s ease;
      z-index: 1;
  }
}
@media only screen and (max-width: 1050px){
  header .wrapper .area-nav .header-logo {
    margin: 0 0 0 16px;
    width: 120px;
  }
}
header .wrapper .area-nav .header-logo {
  transform: scle(1);
  transform-origin: left center;
  transition: all 300ms 0s ease;
}
@media only screen and (max-width: 1050px){
  header .wrapper .area-nav .header-nav {
    display: none;
    opacity: 0;
    position: absolute;
    top: 60px;
    left:0;
    width: 100vw;
    height: 25vh;
    padding: 0 0 40px;
    text-align: left;
    background: #fff;
    overflow: scroll;
  }
}
header .wrapper .area-nav .header-nav {
  display: flex;
}

@media only screen and (max-width: 1050px){
  header .wrapper .area-nav .header-nav li {
      margin: 0;
      border-top: 1px solid #dedede;
  }
}

@media only screen and (max-width: 1050px){
  header .wrapper .area-nav .header-nav li a.on {
      color: #fff;
      background: #333;
  }
}
@media only screen and (max-width: 1050px){
  header .wrapper .area-nav .header-nav li a {
      display: block;
      padding: 12px 16px;
      font-size: 1.6rem;
  }
}
header .wrapper .area-nav .header-nav li {
  margin: 0 0 0 100px;
  list-style: none;
  font-size: 1.6rem;
  font-weight: bold;
}

.menu-trigger {
  position: relative;
  margin: 0 16px 0 0;
  width: 34px;
  height: 24px;
}
.menu-trigger, .menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;

}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
  top:0;
}
.menu-trigger span:nth-of-type(2) {
  top:11px;
}
.menu-trigger span:nth-of-type(3) {
  bottom:0;
}

.menu-trigger.active span:nth-of-type(1) {
  transform: translateY(11px) rotate(-45deg);
}

.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-of-type(3) {
  transform: translateY(-11px) rotate(45deg);
}

@media only screen and (min-width: 1050px){
  .pc-header-none {
      display: none !important;
  }
}

#menu-consept a::after {
  display: block;
  content: 'consept';
  text-align: center;
}

#menu-works a::after {
  display: block;
  content: 'works';
  text-align: center;
}
#menu-profile a::after {
  display: block;
  content: 'profile';
  text-align: center;
}
.munu-text a{
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.munu-text a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}
.munu-text a:hover::after {
  transform: scale(1, 1);
}
.kv {
  position: relative;
  display: flex;
  align-items: center;
  height: calc(100vh - 150px);
  max-height: 680px;
  background: #000;
  background-size: cover;
  background-position: center center;
}


.kv .wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 500px){
  .kv .wrapper { padding: 0 10px; }
}

.kv .wrapper .kv-catch-title {
  font-size: 4.6rem;
  font-weight: bold;
  margin:0 0 32px;
  opacity: 0;
  -webkit-animation: kvcatch01 600ms ease 1.0s forwards;
          animation: kvcatch01 600ms ease 1.0s forwards;
}
@media screen and (max-width: 900px){
  .kv .wrapper .kv-catch-title  {
    font-size: 2rem;
  }

  .kv .wrapper .kv-catch-text {
    font-size: 1.0rem;
  }
}
.kv .wrapper .kv-catch-title .kv-catch-svg {
  display: block;
  max-width: 860px;
  margin: 0 auto;
}

img{
  width: 100%;
  display: block;
}

.kv .wrapper .kv-catch-text {
  font-size: 1.6rem;
  opacity: 0;
  -webkit-animation: kvcatch01 600ms ease 1.2s forwards;
          animation: kvcatch01 600ms ease 1.2s forwards;
}

.kv .wrapper .btn-standard {
  margin: 32px 0 0;
  opacity: 0;
  -webkit-animation: kvcatch01 600ms ease 1.4s forwards;
          animation: kvcatch01 600ms ease 1.4s forwards;
}
.btn-standard a {
  position: relative;
  text-align: center;
  display: block;
  width: 480px;
  margin: 0 auto;
  padding: 24px 0;
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background: rgb(61, 59, 59);
  border-radius: 4px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
  transition: box-shadow 300ms 0s ease;
}
@media only screen and (max-width: 767px){
  .kv .wrapper .btn-standard {
    width: 100%;
  }
  .btn-standard a {
      width: 100%;
      font-size: 1.4rem;
  }
}

.btn-standard a::after {
  content: '';
  position: absolute;
  top: 0;
  right: 24px;
  bottom: 0;
  margin: auto;
  display: inline-block;
  background-image: url(images/ico_arrow_02.svg);
  width: 8px;
  height: 13px;
  background-size: contain;
}

.btn-standard::before {
  opacity: 0;
  background: rgba(255, 255, 255, 0.1);
  transform: scale(1.0, 1.0);
}

.btn-standard:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.btn-standard::after {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.btn::before, .btn::after {
  content: '';
  position: absolute;
  transition: all 1s ease-out;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn-standard:hover::after {
  transform: scale(0, 0);
  opacity: 0;
}

.common-box-style {
  padding: 120px 0 50px;
}

.wrap {
  max-width: 1280px;
  margin: 0 auto 80px;
  padding: 0;
  text-align: center;
}

#profile .wrap {
  max-width: 1280px;
  margin: 0 auto 80px;
  padding: 0;
  text-align: center;
  position: relative;
  top: -50px;
}
@media only screen and (max-width: 576px) {
  #profile .wrap  {
    top: 50px;
  }
}
.title-text {
  font-size: 3.2rem;
  font-weight: bold;
}

.title-text::after {
  content: url(/images/anderbar.svg);
  display: block;
  margin-bottom: 0.8em;

}
.wrap ul {
  list-style-type: none;
  padding: 40px 0px;
  background: #F7F7F7 0% 0% no-repeat padding-box;
}
.wrap .items li {
  font-size: 1.8rem;
  font-weight: bold;
}

.copy-container {
  max-width: 1280px;
  margin: 4rem auto 0;
  padding: 0 5px;
  text-align: center;
}

.copy-container .copy-sub-container .copy {
  font-size: 2rem;
  font-weight: bold;
}

.copy-sub-header .copy-icon {
  width: 25%;
  margin: 64px auto 40px;
}

@media screen and (max-width: 500px) {
  .copy-sub-header .copy-icon {
    width: 20%;
  }
}

.copy-sub-header .title {
  margin: 0 0 32px;
  padding: 0 32px;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}
.copy-sub-content { text-align: justify;}
.copy-sub-content .green-batch {
  position: absolute;
  top: 5%;
  padding: 5px 10px;
  color: white;
  background: #44AAAC 0% 0% no-repeat padding-box;
  border: 1px solid #FFFFFF;
  opacity: 1;
}

.copy-sub-content .textsize-s {
  margin: 0 0 30px;
  padding: 0 10px;
  font-size: 1.6rem;
  color: #333;
  flex-direction: column;
  min-height: 100px;
}

.sec-strength {
  display: flex;
  margin: 0 0 48px;
  padding: 30px　0px;
  background: #fff;
}
.sec-strength-left {
  flex-direction: row-reverse;
}

.strength-text {
  font-size: 1.6rem;
  line-height: 2;
  padding: 15px 0px;
}

#works {
  background: #F7F7F7 0% 0% no-repeat padding-box;
  opacity: 1;
}

#contact {
  background-image: url(/images/whatsapp-logo_icon-icons.com_57054.png);
  background-repeat: no-repeat;
  background-color:rgba(247,247,247,0.8);
  background-blend-mode: lighten;
  background-size: 40%;
}

.work-box {
  margin: 0 0 48px;
}

.card {
  border: 0px;
  background: #F7F7F7 0% 0% no-repeat padding-box;
}

.case-img {
  overflow: hidden;
  margin: 0 0 5px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.08);
  border: 1px solid #DEDEDE;
  border-radius: 0px;
  opacity: 1;
  transition: .3s;

}
.case-img:hover {
  box-shadow: 0 4px 6px  rgba(0, 0, 0, .8);
}

.card-title {  font-size: 1.2rem; }
.card-text {  font-size: 1.0rem; }
.case-cat{
  display: inline-block;
  margin: 0 0 12px;
  padding: 2px 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background: #333;
  border-radius: 12px;
}
@media screen and (max-width: 500px) {
  .card-title {  font-size: 1.4rem; }
  .card-text {  font-size: 1.2rem; }
  
}


.header-container {
  position: relative;
  background-image: url(/images/bg2@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  padding-top: 26%;
  text-align: center;
}

.profile-box-title{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.profile-box-msg {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media only screen and (max-width: 576px) {
  .profile-box-title{ top: 70%; }
  .profile-box-msg { top: 130%; }
}
.copy-block {
  margin:20px;
  box-shadow: 3px 3px 6px #00000029;
  border: solid 1px #00000029;
  background: #fff;
}

.copy-text {
  padding: 20px;
  text-align: center;
}

/* Forms
-----------------------------------------------------------------*/

.form-control {
  border-radius: 3px;
  font-size: 1.6rem;
  padding: 1.6rem .75rem;
}

.form-control:active,
.form-control:focus {
	border-color: #999;
	box-shadow: none;
}



/* Buttons
-----------------------------------------------------------------*/

.button {
	display: inline-block;
	position: relative;
	cursor: pointer;
	outline: none;
	white-space: nowrap;
	margin: 5px;
	padding: 0 22px;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	background-color: #1ABC9C;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: none;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

body:not(.device-touch) .button {
	transition: all .2s ease-in-out;
}

.button-dark { background-color: #444; }

.button-light {
	background-color: #EEE;
	color: #333;
	text-shadow: none !important;
}

.button:hover {
	background-color: #444;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.button.button-dark:hover { background-color: #1ABC9C; }

.button.button-mini {
	padding: 0 14px;
	font-size: 11px;
	height: 28px;
	line-height: 28px;
}

.button.button-small {
	padding: 0 17px;
	font-size: 12px;
	height: 34px;
	line-height: 34px;
}

.button.button-large {
	padding: 0 26px;
	font-size: 16px;
	height: 46px;
	line-height: 46px;
}

.button.button-xlarge {
	padding: 0 32px;
	font-size: 18px;
	letter-spacing: 2px;
	height: 52px;
	line-height: 52px;
}

.button.button-desc {
	text-align: left;
	padding: 24px 34px;
	font-size: 22px;
	height: auto;
	line-height: 1;
	font-family: 'Raleway', sans-serif;
}

.button.button-desc span {
	display: block;
	margin-top: 10px;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1px;
	font-family: 'Crete Round', serif;
	font-style: italic;
	text-transform: none;
}

.button i {
	position: relative;
	top: 1px;
	line-height: 1;
	margin-right: 5px;
	width: 16px;
	text-align: center;
}

.button.tright i { margin: 0 0 0 5px; }

.button-mini i { margin-right: 3px; }

.button-mini.tright i { margin: 0 0 0 3px; }

.button-small i { margin-right: 4px; }

.button-small.tright i { margin: 0 0 0 4px; }

.button-xlarge i {
	top: 2px;
	margin-right: 8px;
}

.button-xlarge.tright i { margin: 0 0 0 8px; }

.button.button-desc i {
	top: 1px;
	font-size: 48px;
	width: 48px;
	text-align: center;
	margin-right: 12px;
}

.button.button-desc.tright i { margin: 0 0 0 12px; }

.button.button-desc div { display: inline-block; }

.button.button-rounded { border-radius: 3px; }


/* Buttons - Border
-----------------------------------------------------------------*/

.button.button-border {
	border: 2px solid #444;
	background-color: transparent;
	color: #333;
	line-height: 36px;
	font-weight: 700;
	text-shadow: none;
}

.button.button-border-thin {
	border-width: 1px;
	line-height: 38px;
}

.button.button-border.button-mini { line-height: 24px; }

.button.button-border.button-small { line-height: 30px; }

.button.button-border.button-large { line-height: 42px; }

.button.button-border.button-xlarge { line-height: 48px; }

.button.button-border-thin.button-mini { line-height: 26px; }

.button.button-border-thin.button-small { line-height: 32px; }

.button.button-border-thin.button-large { line-height: 44px; }

.button.button-border-thin.button-xlarge { line-height: 50px; }

.button.button-border.button-desc { line-height: 1; }

.button.button-border:not(.button-fill):hover {
	background-color: #444;
	color: #FFF;
	border-color: transparent !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.button.button-border.button-light {
	border-color: #333;
	color: #333;
}

.button.button-border.button-light:hover {
  background-color: #333;
  border: 2px solid #666;
	color: #eee;
  text-shadow: none;
  box-shadow: 2px 2px 4px gray;
  transition: all 0.3s ease 0s;
}

.line {
	clear: both;
	position: relative;
	width: 100%;
	margin: 60px 0;
	border-top: 1px solid #44AAAC;
}

.line.line-sm { margin: 30px 0; }


.footer-container {
  padding: 60px 0 30px;
}

#footer .social-container {
  display: flex;
  list-style: none;
  padding-bottom: 20px;
}

#footer .social-container .social-box {
  padding: 0 5px;
}

#footer .social-container .social-box i.icon-blogger1,
#footer .social-container .social-box i.icon-twitter,
#footer .social-container .social-box i.icon-github {
  font-size: 1.4rem;

}
#footer .social-container .social-box a{
  font-size: 1.4rem;
  color: #44AAAC;
}

#footer .social-container .social-box img{
  padding: 5px 0 10px;
  filter: grayscale(70%);
}

.widget > h4 {
	margin-bottom: 25px;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#copyrights {
  padding: 10px 0 30px;
}

@-webkit-keyframes kvcatch01 {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes kvcatch01 {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadein {
	opacity : 0.1;
	transform : translate(0, 50px);
	transition : all 500ms;
	}

.fadein.scrollin {
	opacity : 1;
	transform : translate(0, 0);
	}